flake8
pytest
pandas==1.5.3
pytest==7.3.1
hdbscan==0.8.29
bertopic==0.14.1
nltk==3.8.1
black==23.3.0
wordcloud==1.9.1.1
protobuf==3.19.0
flake8==6.0.0
streamlit==1.22.0
spacy==3.5.2
black==23.3.0
stop-words==2018.7.23
